<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header%>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./public/stylesheets/notification.css">


        <title>
            <%= title %>
        </title>
</head>

<body>
    <div class="container">
        <div></div>

        <img class="img-fluid" style="height: 200px; width: 320px" src="./public/images/TB.jpg">
        <br>
        <h1>Telok Blangah CC</h1>
        <br>
        <div class="row">
            <div class="col-sm-1">
                <i class="fa fa-building" style="font-size: 30px"></i>
            </div>

            <div class="col-sm-4">
                <h4>Facility</h4>
                <p>Badminton court</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                <i class="fa fa-map-marker" style="font-size: 30px"></i>
            </div>

            <div class="col-sm-4">
                <h4>Location</h4>
                <p>450 Telok Blangah Street 31, Singapore 108943</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                <i class="fa fa-clock" style="font-size: 30px"></i>
            </div>

            <div class="col-sm-4">
                <h4>Operating hours</h4>
                <p>Daily 7AM-10PM</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                <i class="fa fa-phone" style="font-size: 30px"></i>
            </div>

            <div class="col-sm-4">
                <h4>Contact</h4>
                <p>6271 9602</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                <i class="fa fa-calendar-alt" style="font-size: 30px"></i>
            </div>

            <div class="col-sm-4">
                <h4>Time slot</h4>
                <p>2 Aug 2018</p>
                <p>10AM-12PM</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                <i class="fa fa-dollar-sign" style="font-size: 30px"></i>
            </div>

            <div class="col-sm-4">
                <h4>Price</h4>
                <p>$3.50</p>
            </div>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                <h5>Would you like to up-share?</h5>
                <h5>For how many people?
                    <select class="form-control ml-1 mr-1" name="up-share" id="up-share" style="max-width:90px;font-size: 1rem;vertical-align: 3px;display: inline;">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </h5>
            </label>
        </div>

        <br>

        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Book</button>

        <!-- Modal -->
        <div class="modal fade text-center" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="height: 200px">
                    <div id="modal_content" class="my-auto">
                        <h5>$3.50 will be deducted from your e-wallet.</h5>
                        <h5 class="font-weight-bold">Confirm booking?</h5>
                    </div>

                    <div class="mb-2 mx-auto">

                        <button onclick="yes()" id="yes" type="button" class="btn btn-default">
                            <i class="fa fa-check" style="font-size: 20px"></i>
                        </button>

                        <button id="no" type="button" class="btn btn-danger" data-dismiss="modal">
                            <i class="fa fa-times" style="font-size: 20px"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/reminder%>

        <script>
            var counter = 0;

            function yes() {
                if (counter == 0) {
                    document.getElementById("modal_content").innerHTML = `<h5 class="font-weight-bold">Booking confirmed!</h5> <h5>Would you like to be notified if your preferred booking opens up?</h5>`
                    counter++;
                }
                else if (counter == 1) {
                    document.getElementById("modal_content").innerHTML = `<h5>Got it, you'll be notified if your preferred booking opens up :)</h5>`;
                    document.getElementById("yes")
                    location.href = "./list_booking2";
                }
            }
        </script>
</body>

</html>