<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header %>
    <title><%=title></title>
</head>
<body>
    <div class="container">
      <div class="page-header mt-3">
        <h1>Sorry: <%= message %></h1>
		<h2><%= error.status %></h2>
		<pre><%= error.stack %></pre>
      </div>
    </div>
</body>
</html>