<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header%>

    <title>
      <%= title %>
    </title>
</head>

<body>
  <div class="text-center">
    <h2>My Bookings</h2>

    <hr style="width: 90%">

    <div class="center-block ml-3 text-left" style="line-height: 0.8; width: 90%">
      <h4>Badminton court</h4>
      <p>Telok Blangah CC</p>
      <p>450 Telok Blangah Street 31, Singapore 108943</p>
      <p>2 Aug 2018</p>
      <p>10AM-12PM</p>
      <div>
        <a href="" class="m=0 p=0" style="position: relative; margin-left: -5px">
          <button type="button" class="btn btn-default">View in map</button>
        </a>
      </div>
    </div>
  </div>

  <% include ../partials/reminder%>
  <% include ../partials/open_slot%>
</body>

</html>