<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header%>

    <title>
      <%= title %>
    </title>
</head>

<body>
  <div class="text-center">
    <h2>My Booking</h2>

    <hr style="width: 90%">

    <div class="center-block ml-5 text-left pl-5" style="line-height: 0.8; width: 90%">
      <h4>Safra Mount Faber</h4>
      <p>Bishan Sports Hall</p>
      <p>5 Bishan Street 14, Singapore 579783</p>
      <p>2 Aug 2018</p>
      <p>8PM-9PM</p>
      <div>
        <a href="/" class="m=0 p=0" style="position: relative; margin-left: -5px">
          <button type="button" class="btn btn-default">Back to Home</button>
        </a>
      </div>
    </div>
  </div>

  <% include ../partials/reminder%>
  <% include ../partials/open_slot%>
</body>

</html>