<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
        <title>Search Result</title>
</head>

<body>
    <div class="container">
        <div class="row pl-3 pb-3">
            Sorry no search result found
        </div>
        <div class="mb-3" style="border-bottom:thin solid lightgrey"></div>
        <div class="row pb-3">
            <a class="col-lg-3 pl-2 pr-2">
                <div class="productCard row">
                    <div class="col-5 pl-4 mt-1">
                        <div class="prodImgContainer" style="background-image:url('https://www.straitstimes.com/sites/default/files/styles/x_large/public/articles/2018/07/03/hzsafra0703.jpg?itok=-_amWJrV');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        width: 100%;
                        padding-top: 75%;">
                        </div>
                    </div>
                    <div class="col-7">
                        <small class="card-title mb-1 text-dark font-weight-normal" style="font-size: 0.6rem">BADMINTON COURT</small>
                        <h6 class="font-weight-bold pt-1">
                            SAFRA
                        </h6>
                        <h6 class="card-title mb-0 pt-0">
                            S$12.99
                            <small class="pl-1"> Sep 12 1200-1400</small>
                        </h6>
                        <div class="card-text grey-text" style="position: relative;">
                            <div class="star-ratings" style="vertical-align: -6px;">
                                <span class="star-ratings-top text-default font-weight-bold popular inline-block" style="font-size: 0.8rem;">
                                    ★★★★★
                                </span>
                                <small class="font-weight-bold pl-1" style="display: inline-block;"> 54</small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="row pb-3">
            <a class="col-lg-3 pl-2 pr-2">
                <div class="productCard row">
                    <div class="col-5 pl-4 mt-1">
                        <div class="prodImgContainer" style="background-image:url('https://www.myactivesg.com/~/media/consumer/images/facilities/delta%20sports%20centre/delta%20sports%20centre.jpg');
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center center;
                            width: 100%;
                            padding-top: 75%;">
                        </div>
                    </div>
                    <div class="col-7">
                        <small class="card-title mb-1 text-dark font-weight-normal" style="font-size: 0.6rem">BADMINTON COURT</small>
                        <h6 class="font-weight-bold pt-1">
                            Delta Sports Centre
                        </h6>
                        <h6 class="card-title mb-0 pt-0">
                            S$22.99
                            <small class="pl-1"> Sep 12 1200-1400</small>
                        </h6>
                        <div class="card-text grey-text" style="position: relative;">
                            <div class="star-ratings" style="vertical-align: -6px;">
                                <span class="star-ratings-top text-default font-weight-bold popular inline-block" style="font-size: 0.8rem;">
                                    ★★★★★
                                </span>
                                <small class="font-weight-bold pl-1" style="display: inline-block;"> 24</small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="row pb-3">
            <a class="col-lg-3 pl-2 pr-2">
                <div class="productCard row">
                    <div class="col-5 pl-4 mt-1">
                        <div class="prodImgContainer" style="background-image:url('https://www.onepa.sg/~/media/Images/Location/83a6d955-8e8f-e511-80c3-00155d004f00/97580195-5950-4874-8f60-69ee1feb8703-jpg.ashx?mw=1280');
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center center;
                                width: 100%;
                                padding-top: 75%;">
                        </div>
                    </div>
                    <div class="col-7">
                        <small class="card-title mb-1 text-dark font-weight-normal" style="font-size: 0.6rem">BADMINTON COURT</small>
                        <h6 class="font-weight-bold pt-1">
                            Telok Blangah CC
                        </h6>
                        <h6 class="card-title mb-0 pt-0">
                            S$7.99
                            <small class="pl-1"> Sep 12 1200-1400</small>
                        </h6>
                        <div class="card-text grey-text" style="position: relative;">
                            <div class="star-ratings" style="vertical-align: -6px;">
                                <span class="star-ratings-top text-default font-weight-bold popular inline-block" style="font-size: 0.8rem;">
                                    ★★★★★
                                </span>
                                <small class="font-weight-bold pl-1" style="display: inline-block;"> 54</small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <% include ../partials/reminder%>
</body>

</html>