<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
        <title>Search Result</title>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
                <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                </div>
                <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                    <h3>OneBooking</h3>
                </div>

                <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
                    <a href="#new" class="mdl-layout__tab is-active">New Booking</a>
                    <a href="#record" class="mdl-layout__tab">Booking Record</a>
                    <a href="#announcement" class="mdl-layout__tab">Announcement</a>
                </div>
            </header>
            </div>
    <div class="container pt-5 mt-5">
        <div class="row pl-3 pb-3 pt-5">
            No search result found
        </div>
        <div class="mb-3" style="border-bottom:thin solid lightgrey"></div>
        <div class="row pl-3 pb-3 font-weight-bold" style="font-size:0.7rem">
            OTHER OPTIONS AVALIABLE
        </div>
        <div class="row pl-3 pb-2 font-weight-bold" style="font-size:0.7rem">
            <span class="font-weight-light pr-2">>> </span> Other locations share time and date
        </div>
        <div class="row pb-3">
            <a class="col-lg-3 pl-2 pr-2" href="/booking" style="color:black">
                <div class="productCard row"style="position: relative">
                    <div class="col-5 pl-4 mt-1">
                        <div class="p-1 font-weight-bold text-white" style="position:absolute;top:12px;left:20px;font-size:0.6rem;background-color:#ec407a;box-shadow: 0,5px,5px,10px #e0e0e0">Co-share</div>
                        <div class="prodImgContainer" style="background-image:url('https://www.straitstimes.com/sites/default/files/styles/x_large/public/articles/2018/07/03/hzsafra0703.jpg?itok=-_amWJrV');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        width: 100%;
                        padding-top: 75%;
                        ">
                        </div>
                        <div class="p-1 font-weight-bold text-white" style="position:absolute;bottom:9px;right:15px;font-size:0.6rem;background-color: rgba(0,0,0,0.5)">SAFRA</div>
                    </div>
                    <div class="col-7">
                        <small class="card-title mb-1 text-dark font-weight-normal" style="font-size: 0.5rem">BADMINTON COURT</small>
                        <h6 class="font-weight-bold pt-0 mt-0" style="font-size:0.9rem;margin-bottom: 2px!important">
                           Mount Faber
                        </h6>
                        <h6 class="card-title mb-0 pt-0 mt-0" style="font-size:0.75rem;">
                            S$12.99
                            <small class="pl-1"> 2 Aug 10AM-12PM</small>
                        </h6>
                        <div class="card-text grey-text" style="position: relative; font-size: 0.6rem">
                            <div class="star-ratings" style="vertical-align: -6px;">
                                <span class="star-ratings-top text-default font-weight-bold popular inline-block" style="font-size: 0.6rem;">
                                    ★★★★★
                                </span>
                                <small class="font-weight-bold pl-1" style="display: inline-block;"> 54</small>
                            </div>
                        </div>
                        <div style="color:#ec407a;font-size: 0.6rem;" class="mt-1">
                            <span class="text-white font-weight-bold p-1 mr-1" style="background-color:#ec407a;font-size: 0.6rem">HIGH</span> 
                            <span class="mt-2">98% booking rate</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="mb-2" style="border-bottom:thin solid lightgrey"></div>
        <div class="row pl-3 pb-2 font-weight-bold" style="font-size:0.7rem">
            <span class="font-weight-light pr-2">>> </span> Other time and date
        </div>
        <div class="row pb-3">
            <a class="col-lg-3 pl-2 pr-2">
                <div class="productCard row"style="position: relative">
                    <div class="col-5 pl-4 mt-1">
                        <div class="p-1 font-weight-bold text-white" style="position:absolute;top:12px;left:20px;font-size:0.6rem;background-color:#ec407a;box-shadow: 0,5px,5px,10px #e0e0e0">Co-share</div>
                        <div class="prodImgContainer" style="background-image:url('https://www.myactivesg.com/~/media/consumer/images/facilities/delta%20sports%20centre/delta%20sports%20centre.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        width: 100%;
                        padding-top: 75%;
                        ">
                        </div>
                        <div class="p-1 font-weight-bold text-white" style="position:absolute;bottom:9px;right:15px;font-size:0.6rem;background-color: rgba(0,0,0,0.5)">ActiveSG</div>
                    </div>
                    <div class="col-7">
                            <small class="card-title mb-1 text-dark font-weight-normal" style="font-size: 0.5rem">BADMINTON COURT</small>
                            <h6 class="font-weight-bold pt-0  mt-0" style="font-size:0.9rem;margin-bottom: 2px!important">
                               Delta sports centre
                            </h6>
                            <h6 class="card-title mb-0 pt-0  mt-0" style="font-size:0.75rem;">
                                S$6.99
                                <small class="pl-1"> 2 Aug 10AM-12PM</small>
                            </h6>
                            <div class="card-text grey-text" style="position: relative; font-size: 0.6rem">
                                <div class="star-ratings" style="vertical-align: -6px;">
                                    <span class="star-ratings-top text-default font-weight-bold popular inline-block" style="font-size: 0.6rem;">
                                        ★★★★<span class="grey-text">★</span>
                                    </span>
                                    <small class="font-weight-bold pl-1" style="display: inline-block;"> 43</small>
                                </div>
                            </div>
                            <div style="color:#ec407a;font-size: 0.6rem;" class="mt-1">
                                <span class="text-white font-weight-bold p-1 mr-1" style="background-color:#ec407a;font-size: 0.6rem">HIGH</span> 
                                <span class="mt-2">62% booking rate</span>
                            </div>
                        </div>
                    </div>
            </a>
            </div>
        <div class="row pb-3">
            <a class="col-lg-3 pl-2 pr-2" href="./booking2">
                <div class="productCard row">
                    <div class="col-5 pl-4 mt-1">
                        <div class="prodImgContainer" style="background-image:url('https://www.onepa.sg/~/media/Images/Location/83a6d955-8e8f-e511-80c3-00155d004f00/97580195-5950-4874-8f60-69ee1feb8703-jpg.ashx?mw=1280');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        width: 100%;
                        padding-top: 75%;
                        ">
                        </div>
                        <div class="p-1 font-weight-bold text-white" style="position:absolute;bottom:9px;right:15px;font-size:0.6rem;background-color: rgba(0,0,0,0.5)">PA</div>
                    </div>
                    <div class="col-7" style="text-decoration:none!important;color:black">
                            <small class="card-title mb-1 text-dark font-weight-normal" style="font-size: 0.5rem">BADMINTON COURT</small>
                            <h6 class="font-weight-bold pt-0 mt-0" style="font-size:0.9rem;margin-bottom: 2px!important">
                                    Telok Blangah CC
                            </h6>
                            <h6 class="card-title mb-0 pt-0  mt-0" style="font-size:0.75rem;">
                                Free
                                <small class="pl-1"> 2 Aug 10AM-12PM</small>
                            </h6>
                            <div class="card-text grey-text" style="position: relative; font-size: 0.6rem">
                                <div class="star-ratings" style="vertical-align: -6px;">
                                    <span class="star-ratings-top text-default font-weight-bold popular inline-block" style="font-size: 0.6rem;">
                                        ★★★★★
                                    </span>
                                    <small class="font-weight-bold pl-1" style="display: inline-block;"> 102</small>
                                </div>
                            </div>
                            <div style="color:#ec407a;font-size: 0.6rem;" class="mt-1">
                                <span class="text-white font-weight-bold p-1 mr-1" style="background-color:#ec407a;font-size: 0.6rem">HIGH</span> 
                                <span class="mt-2">75% booking rate</span>
                            </div>
                        </div>
                </div>
            </a>
        </div>
    </div>
    <% include ../partials/reminder%>
</body>

</html>